.margelong {
    margin-left: 6em;
}

.marge {
    margin-left: 2em;
}

.gras {
    font-weight: bold;
}

.trait_dessus
{
border-top: 1px solid #000;
width : 700px;
}

.marron {
        color: brown;
}

body {
	font-family: Verdana;
}

ul,ol,dl,p {
    font-size: 1.5rem;
  }
  
  li, p {
    line-height: 1.5;
  }


.margelist {

    padding-left: 110px;
}