body {
	font-family: Verdana;
}


h1 {
	color: red;
	background: blue;
}

p span {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

#t1{
	color: green;
	text-decoration: underline;
}

.rose{           
		color: magenta;
}