.margelong {
    margin-left: 6em;
}

.marge {
    margin-left: 2em;
}

.gras {
    font-weight: bold;
}

.trait_dessus
{
border-top: 1px solid #000;
width : 700px;
}

.marron {
        color: brown;
}

body {
	font-family: Verdana;
}

ul,ol,dl,p {
    font-size: 1.5rem;
  }
  
  li, p {
    line-height: 1.5;
  }


.margelist {

    padding-left: 110px;
}

ul.top a {   
    margin: 0;
    text-decoration: none;
    padding: 5px 20px;
    color: rgb(53, 50, 50);
    background-color: rgb(187, 184, 184);
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



.top li {

text-decoration: none;
display: table-cell;
text-align: center;
font-family: Trattatello, fantasy;
font-size: xx-large;

}



header {

    padding: 20px 0px;
    text-align:center;
    background-color: rgb(187, 184, 184);
}

.margeh {
    margin-left: 3em;
}

.titre {

    padding: 20px 0px;
    text-align:center;
    background-color: rgb(187, 184, 184);
}